/* navbar */
.navbar-default {
    background-color: #662e93; /*#F8F8F8;*/
    border-color: #7038a3; /*#E7E7E7;*/
}

/* title */
.navbar-default .navbar-brand {
    color: #E7AE18; /*#777;*/
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #E7AE18; /*#5E5E5E;*/
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: #ffffff; /*#777;*/
    font-weight: 700;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff; /*#333;*/
}

.item-count{
    font-weight: 700;
    line-height: 15px;
    text-align: center;
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: #ffffff !important;
    border-radius: 8px;
    color: #E7AE18;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #E7AE18; /*#555;*/
    background-color: #7038a3; /*#E7E7E7;*/
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #E7AE18; /*#555;*/
    background-color: #7038a3; /*#D5D5D5;*/
}

/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #E7AE18; /*#777;*/
    border-bottom-color: #E7AE18; /*#777;*/
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #E7AE18; /*#333;*/
    border-bottom-color: #E7AE18; /*#333;*/
}

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #E7AE18; /*#555;*/
    border-bottom-color: #E7AE18; /*#555;*/
}

/* mobile version */
.navbar-default .navbar-toggle {
    border-color: /*#7038a3;*/ #DDD;
    border: 0px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #7038a3;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: /*#7038a3;*/ #ffffff;
    transition: all 0.25s ease-out;
}

.collapsed span{
    -webkit-transform: rotate(0deg) !important;
    -ms-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
}

.collapsed .icon-bar1{
    display: block !important;
}
.collapsed .icon-bar2{
    display: block !important;
}
.collapsed .icon-bar3{
    display: block !important;
}

.navbar-toggle span{
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.navbar-toggle .icon-bar1{
    top: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.navbar-toggle .icon-bar2{
    display: none;
}
button[aria-expanded="true"] .icon-bar3{
    margin-top: -1px !important;
}
button[aria-expanded="true"] {
    margin-top: 13px;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #662e93; /*#777;*/
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #662e93; /*#333;*/
    }

    .dropdown-menu{
        background-color: #ffffff !important;
        margin-left: -15px;
    }
}
