@import url('bsmod.css');

@font-face {
    font-family: 'NeoSans-Light';
    src: url('../fonts/NeoSans-Light-TR-aytac.otf');
}

html {
    position: relative;
}

section.main-body, body, html {
    min-height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 100px;
}

body > section.main-body {
    background-color: #F9F9F9;
    padding: 70px 15px 20px;
}

body > section.main-body > div.container {
    background-color: #FFFFFF;
    padding-bottom: 10%;
}

/*More navbar mods */

.kinbunav {
    background-color: #662e93;
    color: #E7AE18;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0,0,0,.5);
}

/* Brand */
.headeritem:hover {
    background-color: #7038a3;
}

/* Navbar text color */
.headeritem > a:link, .headeritem > a:visited, .headeritem > a:hover {
    color: #F2BD22;
    font-family: 'OpenSans', sans-serif;

}

/* navbar hover and focus color */
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background-color: #7038a3;
    color: #F2BD22;
}


.debug {
    border: 1px solid red;
}

section.container.main-body.form {
    max-width: 400px;
    margin: 0 auto
}

img.sprite-01 {
    background: url('/img/Kinbu-imgs-site.svg') no-repeat;
    display: inline-block;
}

img.sprite-01.facebook {
    background-position: -47px -980px;
    width: 50px;
    height: 50px;
    transition: background 0.15s ease-in-out;
   -moz-transition: background 0.15s ease-in-out;
   -webkit-transition: background 0.15s ease-in-out;
}

img.sprite-01.twitter {
    background-position: -154px -980px;
    width: 50px;
    height: 50px;
    transition: background 0.15s ease-in-out;
   -moz-transition: background 0.15s ease-in-out;
   -webkit-transition: background 0.15s ease-in-out;
}

img.sprite-01.google {
    background-position: -257px -980px;
    width: 50px;
    height: 50px;
    transition: background 0.15s ease-in-out;
   -moz-transition: background 0.15s ease-in-out;
   -webkit-transition: background 0.15s ease-in-out;
}

img.sprite-01.facebook:hover {
    background-position: -47px -1031px;
    width: 50px;
    height: 50px;
}

img.sprite-01.twitter:hover {
    background-position: -154px -1031px;
    width: 50px;
    height: 50px;
    opacity: 1;
}

img.sprite-01.google:hover {
    background-position: -257px -1031px;
    width: 50px;
    height: 50px;
    opacity: 1;
}

ul.social {
    padding: 20px 0;
}

ul.social > li {
    /*border-radius: 20px;
    background-color: #CCCCCC;*/
}

ul.social > li:hover {

}

.purple-text {
    color: #662e93;
    font-weight: bold;
}

.white-footer{
    color: #FFFFFF;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    background-color: #662e93;
    color: #F2BD22;
    text-align: center;
}

.gi-1-5x { font-size: 1.5em; }
.gi-1-8x { 
    font-size: 1.8em;
    background: -webkit-linear-gradient(left, #FFF200, #F2BD22);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
@media(max-width: 767px){
    .gi-1-8x{ margin-left: -10px; }
}
.gi-2x { font-size: 2em; }
.gi-3x { font-size: 3em; }
.gi-4x { font-size: 4em; }
.gi-5x { font-size: 5em; }

/* Css for publications.sold */
.publication-soldbox{
    font-family: 'NeoSans-Light';
}