.userlevel {
    display: inline-block;
    width: 10%;
    color: #EEE!important;
    font-size: large;
    border: 3px solid;
    border-radius: 6px;
    margin: 9px -20% 9px auto;
    transition: background 0.25s ease-out;
}

.userlevel:hover {
    color: #662e93!important;
    background: #EEE;
    border: 3px solid #EEE;
}

.dropdown.headeritem > a {
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    position: relative;
}

.dropdown.headeritem > a > .userpp {
    border: 3px solid gray;
    border-radius: 20px;
}

.dropdown.headeritem.cart {
    float left;
}

.dropdown.headeritem.cart > span {
    position: relative;
}

.dropdown.headeritem.cart > span > .item-count {
    display: inline-block;
    width: 18px;
    height: 18px;
    /*border-radius: 10px;
    background-color: lightgray;*/
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-weight: bolder;
    line-height: 1.2;
    z-index: 1
}

.dropdown.headeritem a{
    text-align: center;
    color: gray;
}

.dropdown.headeritem a:hover {
    color: #E7E7E7;
    background-color: #662e93;
}

.dropdown.headeritem > a.cart {
    margin: 7px 0 4px 0;
}

/* enable absolute positioning */
.inner-addon { position: relative; }

/* style glyph */
.inner-addon .icon {
    position: absolute;
    padding: 10px 20px 10px 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .icon  { left:  0px;}
.right-addon .icon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/* search input */
input#search-input:active, input#search-input:focus, input#search-input:focus {
    background-color: #F0F0F0;
    box-shadow: inset 0 0 0 rgb(0,0,0);
    transition: background 0.15s ease-in-out;
   -moz-transition: background 0.15s ease-in-out;
   -webkit-transition: background 0.15s ease-in-out;
}
/* Quitando valores que bootstrap coloca en responsive en barra de búsqueda,
   767px significa es que en estando en tablet y adelante se muestre normal */
@media (max-width: 767px ){
    .navbar-form {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .navbar-nav{
        margin-top: 0px;
        margin-bottom: 0px;
    }

}

/* inactive search input */
input#search-input {
    /*background-color: #662e93*/
    border-width: 0;
    border-radius: 0;
}
input#search-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #662e93;
}
input#search-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #662e93;
   opacity:  1;
}
input#search-input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #662e93;
   opacity:  1;
}
input#search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #662e93;
}

img.kinbu-sprite-01 {
    background: url('/img/kinbu-sprite-01.svg') no-repeat;
    display: inline-block;
}
img.kinbu-sprite-01.search {
    width: 24px;
    height: 34px;/*26px*//*34px*/
    background-size: 350px 50px;
    background-position: -163px -8px;
    transition: all 0.2s ease;
}
img.kinbu-sprite-01.search.gray {
    background-position: -313px -8px;
    transition: all 0.2s ease;
}
img.kinbu-sprite-01.caret-down {
    width: 18px;
    height: 14px;
    background-position: -216px -18px;
}
img.kinbu-sprite-01.caret-up {
    width: 18px;
    height: 14px;
    background-position: -266px -18px;
}

/* Botón de búsqueda para pantallas pequeñas*/

button#search-navbar.btn {
    border-top: 0px;
    border-bottom: 0px;
    border-color: #662e93;
    border-radius: 0px;
    padding-right: 15px;
    padding-left: 15px;
}

button.icon{
    pointer-events: auto !important;
}

span.glyphicon-search{
    color: #F2BD22;
}

div.notification-container {
    min-width: 150px;
    position: fixed;
    right: 0;
    top: 60px;
}

.book {
    margin-bottom: 5px;
}

.book a {
    text-decoration: none!important;
}

.book .book-cover {
    position: relative;
    width: 150px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 767px) {
    .publications-slider {
        height: 200px !important;
    }
    .no-market-books {
        line-height: 200px !important;
        margin-top: 10px;
    }
}
@media (max-width: 768px) {
    .publications-slider {
        height: 400px;
    }
    .no-market-books {
        line-height: 400px;
        margin-top: 10px;
    }
}
@media (max-width: 992px) {
    .publications-slider {
        height: 400px;
    }
    .no-market-books {
        line-height: 400px;
        margin-top: 10px;
    }
}
@media (min-width: 993px) {
    .publications-slider {
        height: 200px;
    }
    .no-market-books {
        line-height: 200px;
        margin-top: 10px;
    }
}

.book .inner-book-content {
    position: absolute;
    top: 0;
    left: 0;
    font-size: large;
    height: 100%;
    width: 100%;
    padding: 5px 10px;
    color: rgba(250, 250, 250, 0.85);
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
   -moz-transition: opacity 0.15s ease-in-out;
   -webkit-transition: opacity 0.15s ease-in-out;
}

.book:hover .inner-book-content {
    opacity: 1;
    background: rgba(102, 46, 147, 0.75);
}

.book-price {
    padding: 10px 0px;
    position: absolute;
    bottom: 0;
    right: 10px;
    left: 10px;
}

.thumbnail {
    width: 168px;
    height: 200px;
    display: inline;
    margin: 0 10px;
    overflow: hidden;
}

.notification-container .alert {
    padding: 0;
}

.notification-container .alert-dismissable, .notification-container .alert-dismissible {
    padding-right: 35px;
}

.notification-container .alert-body {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.alert-kinbu {
    border-color: #662e93 !important;
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    color: #662e93;
    background-color: #ffffff;
}

.notification-container button.close {
    margin: 15px 0;
}

.notification-container .medal.alert-body {
    padding: 4px;
}
.notification-container .medal .media-body {
    width: 33%;
}

/* Stilos de burbuja de tour */

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Nexa-light';
    src: url('../fonts/Nexa_Free_Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NeoSans';
    src: url('../fonts/Neo-Sans-Std-Medium-TR.otf');
}
.hopscotch-bubble {
    border-color: #662e93 !important;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.left .hopscotch-bubble-arrow-border {
    border-right-color: #662e93 !important;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow-border {
    border-top-color: #662e93 !important;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.up .hopscotch-bubble-arrow-border{
    border-bottom-color: #662e93 !important;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.right .hopscotch-bubble-arrow-border{
    border-left-color: #662e93 !important;
}

div.hopscotch-bubble .hopscotch-content {
    margin: 0 auto;
    font-size: 15px;
    font-family: 'OpenSans', sans-serif !important;
    opacity: 0.85;
}

div.hopscotch-bubble .hopscotch-bubble-number{
    background-image: none !important;
    background-color: #F2BD22 !important;
    border-radius: 4px;
    padding-right: 0px !important;

}

div.hopscotch-bubble h3{
    font-family: 'OpenSans', sans-serif !important;
    font-size: 18px !important;
}

div.hopscotch-bubble .hopscotch-nav-button.next{
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
    background-image: -webkit-linear-gradient(top,#5cb85c 0,#4cae4c 100%) !important;
}
.gold-global-btn{
    background: -webkit-linear-gradient(left, #FFF200, #F2BD22);
    border-color: gray;
    color: #FFFFFF !important;
}

.gold-btn {
    background-color: white;
    border-color: gray;
    border-width: 2px;
}
.gold-btn:hover {
    background-color: white;
    border-color: gray;
}
.gold-btn:active{
    background-color: white;
    border-color: gray;
}
.gold-btn:focus{
    background-color: white;
    border-color: gray;
}
.gold-btn-text {
    background: -webkit-linear-gradient(left, #FFF200, #F2BD22);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin:auto;
}
.violet-btn {
    background: linear-gradient(#662D91, #492482);
    box-shadow: 0 1px 1.5px 1px rgba(0, 0, 0,.4);
    color: #FFF !important;
    background-color: #492482;
    border-color: transparent;
    transition: all 0.5s ease-out;
}
.gray-btn {
    background: gray;
    box-shadow: 0 1px 1.5px 1px rgba(0, 0, 0,.4);
    color: #FFF !important;
    background-color: gray;
    border-color: transparent;
    transition: all 0.5s ease-out;
}
@media(max-width: 768px){
    .sm-1-badge-margin {
        margin-top: 0px !important;
        margin-bottom: 5px !important;
    }
    .sm-badge-margin {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}