.btn-pbicrop, .btn-pbicrop:hover, .btn-pbicrop:focus{
    width: 30px;
    height: 30px;
    display: inline-block;
    background-image: url("/img/btn-pbicrop.svg");
    text-decoration: none;
}
.btn-pbirotate,.btn-pbirotate:hover, .btn-pbirotate:focus {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-image: url("/img/btn-pbirotate.svg");
    background-repeat: no-repeat;
    text-decoration: none;
}
.btn-pbidelete, .btn-pbidelete:hover, .btn-pbidelete:focus{
    width: 30px;
    height: 30px;
    display: inline-block;
    background-image: url("/img/btn-pbidelete.svg");
    background-repeat: no-repeat;
    text-decoration: none;
}
#btn-pbedit{max-width: 140px;}
#uploading-img{height: 35px;}
.rotated {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.photo-thumbnail{
	margin: auto !important; 
	margin-top: -137px !important; 
	height: 150% !important; 
	max-width: 140px !important; 
	border: none !important;
	transition: all 0.5s ease;
}
.layerimg0, .layerimg1, .layerimg2{
  height: 140px;
  transition: all 0.5s ease;
}
.scaleimg{
  position: absolute;
  transform: scale(0.65, 1.52);
  -ms-transform: scale(0.65, 1.52);
  -moz-transform: scale(0.65, 1.52);
  -webkit-transform: scale(0.65, 1.52);
  -o-transform: scale(0.65, 1.52);
}
.compensatescale{
  margin-top: -102px !important;
}
.imgcrop{
  border: 1px solid #dddddd;
  margin: auto;
  width: 400px; /* you can use % */
  height: auto;
}
