.row-section {
    background-color: #e9e9e9;
    margin: 25px 0;
    padding: 10px 0;
}

.userpp {

    border-radius: 20px;
}

div.media.friend_badge {
    margin-top: 6px;
    padding: 2px;
    border-radius: 5px;
}

div.media.friend_badge:hover {
    background-color: #EEE;
}

div.media.friend_badge.selected {
    background-color: #BBB;
}
.comment-text {
    width: 100%;
    border-radius: 7px;
}
.book-detail {
    display: table-row;
}
.yellow-text {
    color: #F2BD22;
    font-style: italic;
}
.book-detail-text {
    display: table-cell;
    padding-right: 15px;
}
.book-detail-value {
    display: table-cell;
}
.btn-get {
    background: linear-gradient(#662D91, #492482);
    box-shadow: 0 1px 1.5px 1px rgba(0, 0, 0,.4);
    color: #FFF;
    background-color: #492482;
    border-color: transparent;
    border-radius: 4px;
    width: 135px;
    height: 34px;
}
