@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf');
}
/*
 * From: https://github.com/flatlogic/awesome-bootstrap-checkbox
 */
.checkbox {
    padding-left: 20px;
}
.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
/*Desktops*/
@media (min-width: 768px){
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 0;
    top: 0;
    margin-left: -20.25px;
    margin-top: -7px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 20px;
    color: #662e93;
}
}
/*Phones and tablets*/
@media (max-width: 767px){
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 11px;
    height: 11px;
    left: 0;
    top: 0;
    margin-left: -17px;
    margin-top: 3px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 100%;
    background-color: #662e93;
}
}


.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1;
}
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
/*Desktops*/
@media (min-width: 768px){
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
    content: "\2B1B";
}
}
/*Phones and tablets*/
@media (max-width: 767px){
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
    content: " ";
}
}
.checkbox input[type="checkbox"]:indeterminate + label::after,
.checkbox input[type="radio"]:indeterminate + label::after {
    display: block;
    content: "";
    width: 10px;
    height: 3px;
    background-color: #555555;
    border-radius: 2px;
    margin-left: -16.5px;
    margin-top: 7px;
}
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
    opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}
.checkbox.checkbox-inline {
    margin-top: 0;
    margin-left: 10px;
}

.radio {
    padding-left: 20px;
}
.radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #707070;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
}
.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label {
    opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}
.radio.radio-inline {
    margin-top: 0;
}
/*
 * Custom k
*/
@font-face {
    font-family: 'NeoSans-Light';
    src: url('../fonts/NeoSans-Light-TR-aytac.otf');
}

.main-body > .container {
    max-width: 640px;
    background-color: transparent!important;
}
.book-publication {
    max-width: 640px;
    margin: 0 auto;
    padding-bottom: 10px;
}
.form-section {
    background-color: #FFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    margin: 0.5rem 0 1rem 0;
    padding: 8px 16px;
    max-width: 640px;
}

.form-control{
    font-family: 'NeoSans-Light';
    font-size: 13px;
}

.option-label{
    font-family: 'NeoSans-Light';
    font-size: 13px;
}

.publication-type{
    font-family: 'NeoSans-Light';
}

@media(min-width: 541px){
    .control-label{
    font-family: 'OpenSans';
    font-weight: normal;
    font-size: 13px;
    }
}

@media(max-width: 540px){
    .control-label{
    font-family: 'OpenSans';
    font-weight: normal;
    font-size: 13px;
    width: 100%;

}
}

.section-photos{
    max-width: 640px;
    /*éste margin porque sí no se coloca se 
    obstruyen las fotos thumbnail de la section-photos
    con la sección de plaza*/
    margin-bottom: 300px;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    cursor: pointer;
    border: 2px dashed #662e93;
    border-radius: 5px;
    padding: 50px 2px 25px 2px;
    text-align: center;
    width: 150px;
    height: 220px;
    white-space: pre-line;
    margin-bottom: 5px;
    margin-top: 5px;
}

.upload-block {
    text-align: center;
}

.btn-info {
    background-color: initial;
    border-color: initial;
    color: #662e93;
}

.btn-info:active {
    background-color: initial !important;
    border-color: initial !important;
    color: #662e93 !important;
} 
.btn-info:focus {
    background-color: initial;
    border-color: initial;
    color: #662e93;
} 
.btn-info:hover{
    background-color: initial;
    border-color: initial;
    color: #662e93;
}

span.add-photo-icon {
    background: url('/img/kinbu-button-add-ring.svg') no-repeat;
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.image-list .image-list2 .image-list3 {
    margin-bottom: 2px;
}

.section-plaza{
    max-width: 640px;
}

@media(min-width: 541px){
    .btn-plaza {
        display: inline-block;
        width: 33%;
        font-size: 24px;
        padding: 0 1px;
        border-radius: 0;
        border: 2px solid #B5B5B5;
    }
}
@media(max-width: 540px){
    .btn-plaza {
        display: inline-block;
        width: 100%;
        font-size: 24px;
        padding: 0 1px;
        border-radius: 0;
        border: 2px solid #B5B5B5;
    }
}


.section-plaza .btn-plaza:first-child {
    padding-left: 0;
}
.section-plaza .btn-plaza:last-child {
    padding-right: 0;
}

.section-plaza .btn-plaza:focus, .section-plaza .btn-plaza:active, .section-plaza .btn-plaza.active {
    background-color: #662e93;
    border-color: #662e93;
    color: #EFE;
}

.plaza-description {
    text-align: center;
}

.plaza-description div {
    display: none;
}

.plaza-description .active {
    display: block;
}

.btn-publish {
    max-width: 640px;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
} 

.btn-cancel {
    margin: auto;
    max-width: 50%;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

input.droppable {
    border: 2px dashed #BAB;
    border-radius: 5px;
    padding: 50px 0 25px 5px;
    text-align: center;
}
img.photo-thumbnail {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}
