@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,300,700,800|Quattrocento+Sans&subset=latin,latin-ext);

body {
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Quattrocento Sans', sans-serif;
}
/* Home styles */

.homebotron {
    background: url('/img/Kinbu-coming-soon-bg.jpg') no-repeat center center scroll;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: #EEE;
    /*margin: 0 0 20px;*/
}

.btn-session {
    color: #662e93;
    background: #eee;
    margin-right: 2em;
    margin-top: 2em;
    border: none;
    border-radius: 25px;
    font-weight: 700;
    border: 2px solid #eee;
    transition: background 0.25s ease-out;
}

.btn-session:hover, .btn-session:focus {
    color: #eee;
    background: transparent;
    border: 2px solid #eee;
}

.svg.logo {
    height: 50px;
    margin-bottom: 20px;
}

.svg.logo * {
    fill: white;
}

.btn-register {
    width: 200px;
    border-radius: 25px;
    font-size: 1.2em;
    font-weight: 600;
    transition: background 0.25s ease-out;
}

.btn-register:hover {
    background: white;
    color: #337AB7;
    border-color: transparent;
}

@media (max-width: 480px) {
    .btn-register {
        width: 150px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .btn-session {
        margin-right: 4em;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .btn-session {
        margin-right: 6em;
    }
}

@media (min-width: 1200px) {
    .btn-session {
        margin-right: 15vh;

        margin-top: 2vh;
}
}

.color-layer {
    /*background-color: rgba(102, 46, 147, 0.75);*/
    width: 100%;
    height: 100%;
    padding: 140px 0;
}

#welcomemsg {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 15%;
}

img.sprite-01.everyone-sprite {
    width: 300px;
    height: 301px;
    background-position: -25px -10px;
}

img.sprite-01.interchange {
    width: 281px;
    height: 303px;
    background-position: -34px -366px;
}

img.sprite-01.bookstore {
    width: 360px;
    height: 203px;
    background-position: 0 -733px;
}

@media (max-width: 767px) {
    .everyone-sprite, .interchange, .bookstore {
        display: none !important;
    }
}

.purple-text {
    color: #662e93;
}

section.page-summary {
    /*padding: 45px 0;*/
    height: auto;
    text-align: justify;
}

section.page-summary.gray {
    /*padding: 45px 0;*/
    background-color: #efefef;
    height: auto;
    text-align: justify;
}

section.page-summary-purple {
    padding: 5% 0;
    background-color: #662E93;
    height: auto;
    text-align: justify;
}

section.page-summary-purple h3 {
    color: white;
    height: auto;
    text-align: justify;
}

section.page-summary-purple p {
    color: whitesmoke;
}

section.page-summary > div.container > div.media > div.media-body {
    vertical-align: middle;
    padding: 10px 20px;
}

section.page-summary > div.container > div.media > div.media-body > p {
    font-size: 16px;
}

section.page-summary-purple > div.container > div.media > div.media-body {
    padding: 10px 20px;
}

section.page-summary-purple > div.container > div.media > div.media-body > p {
    font-size: 16px;
    padding-bottom: 10px;
}

.summary-heading > h4 {
}

h3.media-heading {
    font-size: 2em;
    color: #662e93;
    font-weight: 600;
    margin-bottom: 0.6em;
}

p {font-weight: 400;color: #888;}

.container{
    padding: 2% 0;
}

@media all and (max-width: 769px) {

    h3.media-heading {
        text-align: center;
    }
}

@media (min-width: 1200px) {
    .container{
    width: 970px;
    }
}

.lead {
    font-size: 1.5em;
    color: white;
}

.parrafo-boton {
    color: #8138bc;
    font-weight: 600;
    font-size: 1.2em;
    transition: color 0.5s ease;
}

.parrafo-boton:hover{
    text-decoration: underline;
    color: blueviolet;
}

.kinbu-logo {
    display: block;
    background: url(../img/Kinbu-logo.svg) no-repeat;
    height: 180px;
    width: 421px;
    margin: 2em auto;
}

@media (max-width: 430px) {

    .kinbu-logo {
    background: url(../img/Kinbu-logo.svg) no-repeat;
    background-size: 300px auto;
    height: 128px;
    width: 320px;
    margin: 2em auto;
}
}
