.wrapper {
    min-height: 100%;
    height: 100%;
    /*display: inline-block;*/
}
.feed-wrapper, .feed {
    height: 100%;
    /*overflow-y: auto;*/
}
.feed {
    /*position: relative;*/
    padding: 10px;
}
.profile-wrapper {
    height: 100%;
    /*position: fixed;*/
    background-color: #e9e9e9;
}
.profile {
    /*position: relative;*/
    height: 100%;
    overflow: hidden;
}
.userpp {
    border: 5px solid lightgrey;
    border-radius: 45px;
}
.changeuserpp {
  position: relative;
  width: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #f2bd22;
  background-image: url(https://www.gstatic.com/ac/material/camera_alt_white_24dp.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 45px;
}

.changeuserpp:hover .overlay {
  opacity: 1;
}

.change {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.fillparent {
    width: 100%;
}
.wordwrap {
    max-height: 216px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
}
#btn_wrapper1 {
    padding-right: 5px;
}
#btn_wrapper1 button {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#btn_wrapper2 {
    padding-left: 5px
}
#btn_wrapper2 button {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
div.media.friend_badge {
    margin-top: 6px;
    padding: 2px;
    border-radius: 5px;
}
div.media.friend_badge:hover {
    background-color: #EEE;
}
div.media.friend_badge.selected {
    background-color: #BBB;
}
img.kinbu-icons {
    background: url('/img/kinbu-icons.svg') no-repeat;
    background-size: 84px 14px;
    display: inline-block;
}
img.kinbu-icons.books_read {
    width: 14px;
    height: 14px;
    /*background-position: 0px 0px;*/
    margin-left: 5px;
    margin-right: 5px;
}
img.kinbu-icons.comments {
    width: 16px;
    height: 14px;
    background-position: -21px 0px;
    margin-left: 4px;
    margin-right: 4px;
}
img.kinbu-icons.books_bought {
    width: 20px;
    height: 14px;
    background-position: -42px 0px;
    margin-right: 5px;
}
img.kinbu-icons.books_sold {
    width: 20px;
    height: 14px;
    background-position: -63px 0px;
    margin-left: 5px;
}
span.publish-book-icon {
    background: url('/img/kinbu-button-add-01.svg') no-repeat;
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
}
.recent-comments {
    height: 200px;
    overflow: auto;
    overflow-x: hidden;
}
.feed-section {
    padding-bottom: 20px;
}
.feed-section .header {
    width: 100%;
    text-align: left;
    border-bottom: 2px solid #7038a3;
    line-height: 0.1em;
}
.feed-section .header .title {
    background: #fff;
    padding: 0 10px;
    font-weight: bold;
}
.feed-section .books-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
}
.feed-section .books-wrapper .books {
    padding-top: 10px;
    display: inline-flex;
}
.feed-section .books-wrapper .no-books, .no-medals {
    text-align: center;
}
.messages-white-btn {
    background: #FFF;
    font-weight: bold;
    color: #662D91;
    box-shadow: 0 1px 1.5px 1px #rgba(0, 0, 0, 0.1);
}
.friends-violet-btn {
    background: linear-gradient(#662D91, #492482);
    box-shadow: 0 1px 1.5px 1px rgba(0, 0, 0,.4);
    color: #FFF;
    background-color: #492482;
    border-color: transparent;
}
.editor-blueviolet-btn {
    border: #666666 2px solid;
    background: transparent;
    color: #666;
    border-radius: 50%;
    padding: 7px;
    line-height: 0;
    transition: all 0.5s ease-out;
}
.editor-blueviolet-btn.focus, .editor-blueviolet-btn:focus, .editor-blueviolet-btn:hover {
    color: #FFF;
    background: #662D91;
    border: 2px #662D91 solid;
}
.publish-book-text {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 6px;
    font-weight: bold;
    color: blueviolet;
}
.profile-header {
    font-size: 16px;
    font-weight: bold;
}
.profile-btn-primary-friends {
    color: #FFF;
}
.add-friends-violet-btn {
    background: linear-gradient(#662D91, #492482);
    box-shadow: 0 1px 1.5px 1px rgba(0, 0, 0,.4);
    color: #FFF;
    background-color: #492482;
    border-color: transparent;
}

img.book-cover-img{
    height: 200px;
}

fieldset.data-fieldset {
    border: 1px groove #DCD;
    padding: 0 1.4em;
}
legend.data-legend {
    width: auto;
    padding: 0 10px;
    border-bottom: none;
    margin-bottom: 10px;
}

.medals .medal {
    display: inline-block;
}

.medals .medal .not img {
    filter: url('#grayscale'); /* Versión SVG para IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
    filter: Gray(); /* IE4-8 and 9 */
}
