@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf');
}

body > section.main-body {
    padding-top: 50px;
    padding-bottom: 16px;
}

.btn-tour {
  font-family: 'OpenSans', sans-serif !important;
  opacity: 0.85;
  font-size: large;
  transition: background 0.25s ease-out;
}

.btn-tour:hover {
    color: rgba(0,0,0,0.5) !important;
    background: #EEE;
}


body > section.main-body > .container > .jumbotron {
    border-radius: 1px;
    background-image: url("/img/2917-3.jpg");
    background-size: 100% 100%; 
    padding: 50px 0;
}

/*Activando una transición de desvanecimiento*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
/*Dandole estilos a las entradas de texto y responsiveness*/
@media (min-width: 768px){
  .carousel-caption {
      text-align:center;
      top:20%;
      font-family: 'OpenSans', sans-serif;
      font-size: 33px;
      opacity: 0.85;
  }
  .carousel-description{
      font-size: 18px;
      margin-bottom: 0px;
  }
  .btn-invitation{
    width: 40%;
    font-family: 'OpenSans', sans-serif;
    font-size: 18px;
    line-height: 1.3333333;
    border: 1px solid transparent;
    margin-top: 8px;
    margin-bottom: 8px;
    opacity: 1;
  }

}

@media (max-width: 767px){
  .carousel-caption {
    text-align:center;
    top:10%;
    font-family: 'OpenSans', sans-serif;
    font-size: 22px;
    opacity: 0.85;
  }
  .carousel-description{
    font-size: 13px;
    margin-bottom: 0px;
  }
  .btn-invitation{
    width: 50%;
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    line-height: 1.3333333;
    border: 1px solid transparent;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

 /*Quitando las sombras de los lados en el carousel*/
.carousel-control.right{
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0, 0, 0, 0) 100%);
}

.carousel-control.left{
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0) 0,rgba(0,0,0,.0001) 100%);
}

/*El jumbotron se desactivó para dar paso al carousel*/
.jumbotron {
    background-size: 100% 100%; 
}

.jumbotron > p.text-lead.text-center {
    margin: 0 auto;
    font-size: 42px;
    font-family: 'OpenSans', sans-serif;
    opacity: 0.85;
    color: #FFF;
}

.kinbu-item-content {
    height: 250px;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    display: block;
}

section.recomended {
    background-color: #ddd;
    margin: 10px auto;
}

.slider-title{
    font-family: 'Open Sans', sans-serif;
}

.publications-slider {
    position: relative;
    width: auto;
    overflow: hidden;
}

.publications-slider>.row {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: transform .7s ease-in-out;
}

.hidden-row {
    transform: translate3d(100%, 0px, 0px);
    margin-right: 0px !important;
    margin-left: 0px!important;
}


.slider-arrow {
    top: 0;
    bottom: 0;
    width: 52px;
    position: absolute;
    background-color: rgba(102, 46, 147, 0);
    filter: alpha(opacity=50);
    text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    text-align: center;
    color: #662d91;
}

.slider-arrow.left-arrow {
    left: -15px;
    background-image: -webkit-linear-gradient(left, rgba(102, 46, 147, 0) 0%, rgba(102, 46, 147, 0) 100%);
    background-image:      -o-linear-gradient(left, rgba(102, 46, 147, 0) 0%, rgba(102, 46, 147, 0) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(102, 46, 147, 0)), to(rgba(102, 46, 147, 0)));
    background-image:         linear-gradient(to right, rgba(102, 46, 147, 0) 0%, rgba(102, 46, 147, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80662e93', endColorstr='#00662e93', GradientType=1);
    background-repeat: repeat-x;
}

.slider-arrow.right-arrow {
    right: -15px;
    background-image: -webkit-linear-gradient(left, rgba(102, 46, 147, 0) 0%, rgba(102, 46, 147, 0) 100%);
    background-image:      -o-linear-gradient(left, rgba(102, 46, 147, 0) 0%, rgba(102, 46, 147, 0) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(102, 46, 147, 0)), to(rgba(102, 46, 147, 0)));
    background-image:         linear-gradient(to right, rgba(102, 46, 147, 0) 0%, rgba(102, 46, 147, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00662e93', endColorstr='#80662e93', GradientType=1);
    background-repeat: repeat-x;
}

.slider-arrow:hover,
.slider-arrow:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}

.slider-arrow .chevron-left,
.slider-arrow .chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
  font-size: 24px;
}
.slider-arrow .chevron-left {
  left: 50%;
  margin-left: -10px;
}


.slider-arrow .chevron-right {
  right: 50%;
  margin-right: -10px;
}

.chevron-right{
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.chevron-left{
  width: 40px;
  height: 40px;
  cursor: pointer;
}
