body {
    background-color: #7038a3;
    background-image: -webkit-linear-gradient(35deg, #665291, #662d91);
    background-image: -moz-linear-gradient(35deg, #665291, #662d91);
    background-image: -o-linear-gradient(35deg, #665291, #662d91);
    background-image: linear-gradient(35deg, #665291, #662d91);
}
body > section.form {
    border-radius: 15px;
    padding: 15px;
    background-color: #F9F9F9;
    text-align: center;
}
img.logo {
    display: block;
    margin: 20px auto;
}
input {
    text-align: center;
}
.btn-kinbu {
    background-color: #7038a3;
    color: #F9F9F9;
}
.btn-kinbu:hover {
    background-color: #662e93;
    color: #FFFFFF;
}
div.register {
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
    clear: both;
}
div.register > h4{
    color: #EEE;
}
div.register > .btn-register {
    color: #EEE;
    width: 33%;
    font-size: large;
    border: 3px solid;
    border-radius: 6px;
}


img.icons-social {
    background: url('/img/Kinbu-icons-social.svg') no-repeat;
    display: inline-block;
}

img.icons-social.facebook {
    background-position: 0px 0px;
    width: 50px;
    height: 50px;
}

img.icons-social.twitter {
    background-position: 60px 0px;
    width: 50px;
    height: 50px;
}

img.icons-social.google {
    background-position: -120px 0px;
    width: 50px;
    height: 50px;
}

@media (max-width: 425px){
.col-xs-offset-3 {
    margin-left: 15% !important;
}

.col-xs-6 {
    width: 70% !important;
}
}

@media (max-width: 375px){
.col-xs-offset-3 {
    margin-left: 10% !important;
}

.col-xs-6 {
    width: 80% !important;
}
}

@media (max-width: 325px){
.col-xs-offset-3 {
    margin-left: 10% !important;
}

.col-xs-6 {
    width: 80% !important;
}

.register {
    padding-top: 5px !important;
}

.calltoaction {
    margin-top: 0px !important;
}

}
.form-control:focus {
    border-color: #662e93 !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(102, 46, 147) !important;
}